body, td {
	font-size: 95%;
	font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

#ff_date {
	width: 7em;
}
#ff_begin, #ff_end {
	width: 5.5em;
}
#ff_description {
	width: 20em;
}

table.entries {
	border-collapse: collapse;
}
table.entries td {
	border: 1px solid #eee;
	border-left: none;
	border-right: none;
}